# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Minecraft
run/
logs/
*.log
versions/
wrong report/
Old/

# JVM Crash
hs_err_*.log
